<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or site.description }}">
    <title>{% if titleOnly %}{{ title }}{% else %}{% if title %}{{ title }}｜{% endif %}{{ site.name }}{% endif %}</title>
    <link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/images/b.png' | sitePath }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | sitePath }}">
    {% if postLayout %}<link rel="stylesheet" href="{{ '/assets/css/post.css' | sitePath }}">{% endif %}
  </head>
  <body class="{{ bodyClass or '' }}">
    {% if not hideHeader %}
      {% include "components/header.njk" %}
    {% endif %}

    {{ content | safe }}

    {% if not hideFooter %}
      {% include "components/footer.njk" %}
    {% endif %}
  </body>
</html>
